<!-- Footer Home -->
<footer class="footer__area fix">
    <div class="container">
        <div class="cta__wrap fix">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="cta__content">
                        <h3 class="title">Moyen de transport le plus rapide & sécurisé <br>n'importe quoi à tout moment</h3>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="cta__btn text-end">
                        <a routerLink="/contact-us" class="btn btn-two">Contactez-nous <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                    </div>
                </div>
            </div>
            <div class="cta__shape">
                <img src="assets/img/images/cta_shape.png" alt="img" data-aos="fade-up-right" data-aos-delay="400">
            </div>
        </div>
        <div class="footer__top">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="footer__widget">
                        <div class="footer__logo">
                            <a href=""><img src="assets/img/logo/w_logo.png" alt="logo"></a>
                        </div>
                        <div class="footer__content footer__content-two">
                            <p>Notre équipe de livraison expérimentée garantit que vos colis arrivent chez vous en toute sécurité et dans les délais.</p>
                        </div>
                        <div class="footer__social">
                            <ul class="list-wrap">
                                <li><a href="https://www.facebook.com/profile.php?id=100093277484247" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://wa.me/+237672144191" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://www.instagram.com/gonagoocmr/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/gonagoo-cmr/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright-text copyright-text-two">
                            <p>Copyright <a routerLink="/">©Gonagoo</a> | All Right Reserved</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Nos Services</h4>
                        <div class="footer__link">
                            <ul class="list-wrap">
                                <li><a routerLink="/services/service-de-livraison">Livraison</a></li>
                                <li><a routerLink="/services/fret-aerien">Fret Aérien</a></li>
                                <li><a routerLink="/services/fret-routier">Fret Routier</a></li>
                                <li><a routerLink="/services/fret-maritime">Fret Maritime</a></li>
                                <li><a routerLink="/services/demenagement">Déménagement</a></li>
                                <li><a routerLink="/services/stockage-moderne">Stockage Moderne</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Liens Rapides</h4>
                        <div class="footer__link">
                            <ul class="list-wrap">
                                <li><a routerLink="/about">À Propos</a></li>
                                <li><a routerLink="/services">Services</a></li>
                                <li><a routerLink="/contact-us">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Informations</h4>
                        <div class="footer__info-wrap">
                            <ul class="list-wrap">
                                <li>
                                    <i class="flaticon-location-1"></i>
                                    <p>Rue Drouot, Akwa<br> Douala – Cameroun</p>
                                </li>
                                <li>
                                    <i class="flaticon-telephone"></i>
                                    <a href="tel:+237672144191">+237 6 72 14 41 91</a>
                                </li>
                                <li>
                                    <i class="flaticon-time"></i>
                                    <p>Lun – Sam: 8h – 17h, <br> Dimanche: <span>FERMÉ</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__shape">
        <img src="assets/img/images/footer_shape01.png" alt="shape" data-aos="fade-down" data-aos-delay="400">
        <img src="assets/img/images/footer_shape02.png" alt="shape" data-aos="fade-left" data-aos-delay="400">
    </div>
  </footer>
<!-- Footer Home -->