<!-- main-area -->
<main class="fix">

    <!-- banner-area -->
    <section class="banner__area banner__bg" style="background-image: url('assets/img/banner/banner_bg01v2.jpg');">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-6">
                    <div class="banner__content">
                        <span class="sub-title" data-aos="fade-up" data-aos-delay="200">Rapidité & Sûreté</span>
                        <h2 class="title" data-aos="fade-up" data-aos-delay="400">Plateforme de logistique intelligente pour votre supply chain</h2>
                        <p data-aos="fade-up" data-aos-delay="600">Transport et livraison géolocalisés à la demande pour entreprises et particuliers.</p>
                        <a routerLink="/services" class="btn" data-aos="fade-up" data-aos-delay="800">Explorer Nos Services <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner__img">
                        <img src="assets/img/banner/banner_img01.png" alt="img" data-aos="fade-left" data-aos-delay="800">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__shape-wrap">
            <img src="assets/img/banner/banner_shape.png" alt="shape" class="rotateme">
            <img src="assets/img/banner/dem2.png" alt="img" class="wow bounceInDown" data-wow-delay=".3s">
        </div>
    </section>
    <!-- banner-area-end -->
  
    <!-- about-area -->
    <section class="about__area pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="about__img">
                        <img src="assets/img/images/about_img01.png" alt="img">
                        <img src="assets/img/images/moto-taxi.png" alt="img" data-aos="fade-right" data-aos-delay="200">
                        <img src="assets/img/images/about_img03.png" alt="img" data-aos="fade-down" data-aos-delay="400">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__content">
                        <div class="section__title mb-15">
                            <span class="sub-title">Solutions de logistique et de transport fiables</span>
                            <h2 class="title">Nous offrons une gamme complète des solutions logistiques</h2>
                        </div>
                        <p>Dans le soucis de satifaire des entreprises et particuliers, Gonagoo mets à votre disposition une gamme variée de solutions logistiques</p>
                        <div class="about__content-bottom">
                            <div class="about__list-box-wrap">
                                <div class="about__list-box">
                                    <ul class="list-wrap">
                                        <li><i class="flaticon-check"></i>Contrôle de qualité</li>
                                        <li><i class="flaticon-check"></i>Garantie de satisfaction à 100 %</li>
                                        <li><i class="flaticon-check"></i>Professionnel et Qualifié</li>
                                        <li><i class="flaticon-check"></i>Sûr, fiable et express</li>
                                    </ul>
                                </div>
                                <a routerLink="/contact-us" class="btn">Contactez-Nous <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                            </div>
                            <div class="about__review-wrap">
                                <div class="about__review-box">
                                    <div class="about__review-author">
                                        <img src="assets/img/images/user.png" alt="img">
                                        <img src="assets/img/images/user.png" alt="img">
                                        <img src="assets/img/images/user.png" alt="img">
                                        <img src="assets/img/images/user.png" alt="img">
                                    </div>
                                    <div class="review">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span>Clients 4.7 (15 Avis)</span>
                                </div>
                                <div class="experience__box">
                                    <h4 class="title">03</h4>
                                    <span>Years Of <br> Experience</span>
                                </div>
                            </div>
                        </div>
                        <div class="shape">
                            <img src="assets/img/images/delivery-truck.png" alt="shape" data-aos="fade-left" data-aos-delay="1000">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area-end -->
  
    <!-- services-area -->
    <section class="services__area fix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="section__title mb-40">
                        <span class="sub-title">NOS MEILLEURS SERVICES</span>
                        <h2 class="title">Couvrant toutes solutions <br>logistiques pour vous</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="view-all-btn text-end mb-40">
                        <a routerLink="/services" class="btn btn-two">Nos Services <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                    </div>
                </div>
            </div>
            <div class="row gutter-24 justify-content-center">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="services__item">
                      <div class="services__thumb-wrap">
                          <div class="services__thumb">
                              <img src="assets/img/services/services_img01.png" alt="img">
                              <a routerLink="/services/service-de-livraison" class="btn btn-two border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                          </div>
                          <div class="services__icon">
                              <img src="assets/img/services/fast-delivery.png" alt="img">
                              <!-- <i class="flaticon-ship"></i> -->
                          </div>
                      </div>
                      <div class="services__content">
                          <h3 class="title"><a routerLink="/services/service-de-livraison">Service De Livraison</a></h3>
                          <p>Puisque votre temps est précieux, nous proposons un service de livraison à domicile pour vos courses et vos achats en ligne.</p>
                      </div>
                  </div>
              </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="services__item">
                        <div class="services__thumb-wrap">
                            <div class="services__thumb">
                                <img src="assets/img/services/services_img02.jpg" alt="img">
                                <a routerLink="/services/fret-routier" class="btn btn-two border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                            </div>
                            <div class="services__icon">
                                <i class="flaticon-truck"></i>
                            </div>
                        </div>
                        <div class="services__content">
                            <h3 class="title"><a routerLink="/services/fret-routier">Fret Routier</a></h3>
                            <p>Nous proposons des services de transport adaptés à vos besoins spécifiques, que ce soit pour des expédition nationales ou internationales.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="services__item">
                        <div class="services__thumb-wrap">
                            <div class="services__thumb">
                                <img src="assets/img/services/services_img03.jpg" alt="img">
                                <a routerLink="/services/fret-aerien" class="btn btn-two border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                            </div>
                            <div class="services__icon">
                                <i class="flaticon-air-freight"></i>
                            </div>
                        </div>
                        <div class="services__content">
                            <h3 class="title"><a routerLink="/services/fret-aerien">Fret Aérien</a></h3>
                            <p>Pour tous vos besoins de transport de marchandises urgentes et/ou sensibles, nous vous proposons aussi des services de fret aérien.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="services__item">
                        <div class="services__thumb-wrap">
                            <div class="services__thumb">
                                <img src="assets/img/services/services_img04.jpg" alt="img">
                                <a routerLink="/services/fret-maritime" class="btn btn-two border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                            </div>
                            <div class="services__icon">
                                <i class="flaticon-train"></i>
                            </div>
                        </div>
                        <div class="services__content">
                            <h3 class="title"><a routerLink="/services/fret-maritime">Fret Maritime</a></h3>
                            <p>Pour vos besoins de transport de marchandises en vrac ou en conteneurs, nous vous proposons aussi un service de fret maritime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services__shape-wrap">
            <img src="assets/img/services/services_shape01.png" alt="shape" class="rotateme">
            <img src="assets/img/services/114x114.png" alt="shape" data-aos="fade-right" data-aos-delay="400">
        </div>
    </section>
    <!-- services-area-end -->
  
    <!-- choose-area -->
    <section class="choose__area choose__bg" data-background="assets/img/bg/vector_bg.svg" style="background-image: url('assets/img/bg/vector_bg.svg');">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-5 col-md-10">
                    <div class="choose__img wow img-custom-anim-left animated" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <img src="assets/img/images/choose_img01.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="choose__content">
                        <div class="section__title white-title mb-25">
                            <!-- <span class="sub-title">Pourquoi nous choisir</span> -->
                            <span class="title">Pourquoi nous choisir ?</span>
                            <!-- <h2 class="title">Nous innovons dans la logistiques pour réaliser des livraisons de tout niveau !</h2> -->
                        </div>
                        <div class="choose__content-bottom">
                            <div class="left-side">
                                <p>En choisissant Gonagoo, vous pouvez être sûr de recevoir des services de transport de haute qualité, adaptés à vos besoins spécifiques. Contactez-nous aujourd'hui pour en savoir plus sur comment nous pouvons vous aider !</p>
                                <a routerLink="/contact-us" class="btn white-btn">Contactez-Nous <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                            </div>
                            <div class="counter__wrap">
                                <div class="counter__item">
                                    <div class="counter__icon">
                                        <i class="flaticon-package"></i>
                                    </div>
                                    <div class="counter__content">
                                        <h2 class="count"><span class="counter-number">+2.5</span>M</h2>
                                        <p>Livraisons OK</p>
                                    </div>
                                </div>
                                <div class="counter__item">
                                    <div class="counter__icon">
                                        <i class="flaticon-planet-earth"></i>
                                    </div>
                                    <div class="counter__content">
                                        <h2 class="count"><span class="counter-number">115</span></h2>
                                        <p>Clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- choose-area-end -->
  
    <!-- achieved-area -->
    <section class="achieved__area fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 order-0 order-lg-2">
                    <div class="achieved__img">
                        <img src="assets/img/images/achieved_img.png" alt="img" class="wow bounceInDown" data-wow-delay=".3s">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="achieved__content">
                        <div class="section__title mb-20">
                            <h2 class="title">Nos réalisations</h2>
                        </div>
                        <p>Nous avons le plaisir de vous montrer les statistiques de nos réalisations...</p>
                        <div class="progress__wrap">
                            <div class="progress__item">
                                <div class="progress__item-top">
                                    <h3 class="progress__title">Livraison avec Succès</h3>
                                    <div class="progress-value"><span class="counter-number">82</span>%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 82%;"></div>
                                </div>
                            </div>
                            <div class="progress__item">
                                <div class="progress__item-top">
                                    <h3 class="progress__title">Clients Satisfaits</h3>
                                    <div class="progress-value"><span class="counter-number">90</span>%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" style="width: 90%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="achieved__shape">
            <img src="assets/img/images/achieved_shape.png" alt="shape">
        </div>
    </section>
    <!-- achieved-area-end -->
  
    <!-- work-area -->
    <section class="work__area work__bg" style="background-image: url('assets/img/bg/vector_bg.svg');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section__title text-center white-title mb-50">
                        <span class="sub-title">COMMENT ÇA MARCHE ?</span>
                        <h2 class="title">Voici Comment fonctionne Notre processus logistique</h2>
                    </div>
                </div>
            </div>
            <div class="work__item-wrap">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="work__item">
                            <div class="work__icon">
                                <i class="flaticon-package"></i>
                                <span class="number">01</span>
                            </div>
                            <div class="work__content">
                                <h4 class="title">Demande De Livraison</h4>
                                <p>Vous avez un colis à livrer ou vous désirez qu'on recupère un colis pour vous ?</p>
                            </div>
                            <div class="work__shape">
                                <img src="assets/img/images/work_shape01.svg" alt="" class="injectable">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="work__item">
                            <div class="work__icon">
                                <i class="flaticon-support"></i>
                                <span class="number">02</span>
                            </div>
                            <div class="work__content">
                                <h4 class="title">Appel Depuis Le Bureau</h4>
                                <p>Nous appelons le destinataire pour avoir sa disponibilité et le lieu où la livraison s'efectuera</p>
                            </div>
                            <div class="work__shape">
                                <img src="assets/img/images/work_shape02.svg" alt="" class="injectable">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="work__item">
                            <div class="work__icon">
                                <i class="flaticon-global-distribution"></i>
                                <span class="number">03</span>
                            </div>
                            <div class="work__content">
                                <h4 class="title">Livraison Disponible</h4>
                                <p>Si tout est OK côté colis, destinateur et destinataire.</p>
                            </div>
                            <div class="work__shape">
                                <img src="assets/img/images/work_shape01.svg" alt="" class="injectable">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="work__item">
                            <div class="work__icon">
                                <i class="flaticon-parcel"></i>
                                <span class="number">04</span>
                            </div>
                            <div class="work__content">
                                <h4 class="title">Livrer L'expédition</h4>
                                <p>Un livreur se met en route pour effectuer la transaction !</p>
                            </div>
                            <div class="work__shape">
                                <img src="assets/img/images/work_shape01.svg" alt="" class="injectable">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- work-area-end -->
  
    <!-- blog-post-area -->
    <section class="blog__post-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="section__title mb-40">
                        <span class="sub-title">Dernières nouvelles</span>
                        <h2 class="title">Publications Récentes</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="view-all-btn text-end mb-40">
                        <a href="https://www.facebook.com/profile.php?id=100093277484247" target="_blank" class="btn btn-two">Voir tout <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center gutter-24">
                <div class="col-lg-4 col-md-6">
                    <div class="blog__post-item shine__animate-item">
                        <div class="blog__post-thumb">
                            <a href="https://www.facebook.com/photo?fbid=480310721754840&set=a.127942173658365" target="_blank" class="shine__animate-link"><img src="assets/img/blog/blog_img01.jpg" alt="img"></a>
                        </div>
                        <div class="blog__post-content">
                            <div class="blog__meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-calendar"></i>30 Dec, 2024</li>
                                </ul>
                            </div>
                            <h3 class="title"><a href="https://www.facebook.com/photo?fbid=480310721754840&set=a.127942173658365" target="_blank">Confis tes colis à Gonagoo et dors tranquille.😉</a></h3>
                            <p>Livraison dans tout Douala et expédition dans les autres villes à 1000FCFA. 🚛</p>
                            <a routerLink="/services/service-de-livraison" class="btn btn-two">Savoir Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog__post-item shine__animate-item">
                        <div class="blog__post-thumb">
                            <a href="https://www.facebook.com/photo/?fbid=431746929944553&set=a.127942173658365" target="_blank" class="shine__animate-link"><img src="assets/img/blog/blog_img02.jpg" alt="img"></a>
                        </div>
                        <div class="blog__post-content">
                            <div class="blog__meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-calendar"></i>22 Oct, 2024</li>
                                </ul>
                            </div>
                            <h3 class="title"><a href="https://www.facebook.com/photo/?fbid=431746929944553&set=a.127942173658365" target="_blank">Vous devez bientôt déménager ? 🤔</a></h3>
                            <p>Gonagoo s’occupe de la logistique de vos événements. 🚚👷</p>
                            <a routerLink="/services" class="btn btn-two">Savoir Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog__post-item shine__animate-item">
                        <div class="blog__post-thumb">
                            <a href="https://www.facebook.com/photo/?fbid=426561363796443&set=a.372703742515539" target="_blank" class="shine__animate-link"><img src="assets/img/blog/blog_img03.jpg" alt="img"></a>
                        </div>
                        <div class="blog__post-content">
                            <div class="blog__meta">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-calendar"></i>15 Oct, 2024</li>
                                </ul>
                            </div>
                            <h3 class="title"><a href="https://www.facebook.com/photo/?fbid=426561363796443&set=a.372703742515539" target="_blank">Le saviez-vous ?</a></h3>
                            <p>Gonagoo accompagne les PME dans leur logistique. 🚚🛵 <br> #gonagoocmr #servicecourrier</p>
                            <a routerLink="/services" class="btn btn-two">Savoir Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog-post-area-end -->
  
    <!-- contact-map -->
    <div class="contact-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.827093848885!2d9.700508199999998!3d4.0556563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1061125e189d9e85%3A0xc34b9ee56ef78d0e!2s318%20Rue%20Drouot%2C%20Douala!5e0!3m2!1sfr!2scm!4v1736861164774!5m2!1sfr!2scm" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- contact-map-end -->
  
  </main>
  <!-- main-area-end -->
<app-footer-home />
