<section class="breadcrumb__area breadcrumb__bg" style="background-image: url('assets/img/bg/video_bg_mirror.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb__content">
                    <h1 class="title">Détails de services</h1>
                    <nav class="breadcrumb">
                        <span property="itemListElement" typeof="ListItem">
                            <a routerLink="/">Accueil</a>
                        </span>
                        <span class="breadcrumb-separator"><i class="flaticon-right-arrow"></i></span>
                        <span property="itemListElement" typeof="ListItem">Détails du service</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>