<main class="fix">

    <!-- breadcrumb-area -->
    <section class="breadcrumb__area breadcrumb__bg" style="background-image: url('assets/img/bg/video_bg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb__content">
                        <h1 class="title">Nos Services</h1>
                        <nav class="breadcrumb">
                            <span property="itemListElement" typeof="ListItem">
                                <a routerLink="/">Home</a>
                            </span>
                            <span class="breadcrumb-separator"><i class="flaticon-right-arrow"></i></span>
                            <span property="itemListElement" typeof="ListItem">Services</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- services-area -->
    <section class="services__area-five grey-bg section-pt-120 section-pb-90">
        <div class="container">
            <div class="row gutter-24 justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="services__item-three">
                        <div class="services__thumb-three">
                            <a routerLink="/services/service-de-livraison"><img src="assets/img/services/services_img01.png" alt="img"></a>
                            <a routerLink="/services/service-de-livraison" class="btn border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                        <div class="services__content-three">
                            <div class="services__icon-three">
                                <i><img src="assets/img/services/fast-delivery.png" alt="img"></i>
                            </div>
                            <h4 class="title"><a routerLink="/services/service-de-livraison">Service De Livraison</a></h4>
                            <p>Puisque votre temps est précieux, nous proposons un service de livraison à domicile rapide et efficace pour vos courses et vos achats en ligne.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item-three">
                        <div class="services__thumb-three">
                            <a routerLink="/services/demenagement"><img src="assets/img/services/services_img08.jpg" alt="img"></a>
                            <a routerLink="/services/demenagement" class="btn border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                        <div class="services__content-three">
                            <div class="services__icon-three">
                                <i class="flaticon-delivery-man"></i>
                            </div>
                            <h4 class="title"><a routerLink="/services/demenagement">Déménagement</a></h4>
                            <p>Nous proposons des services de déménagement adaptés à vos besoins spécifiques, que ce soit pour un déménagement local ou à longue distance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item-three">
                        <div class="services__thumb-three">
                            <a routerLink="/services/fret-routier"><img src="assets/img/services/services_img02.jpg" alt="img"></a>
                            <a routerLink="/services/fret-routier" class="btn border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                        <div class="services__content-three">
                            <div class="services__icon-three">
                                <i class="flaticon-truck"></i>
                            </div>
                            <h4 class="title"><a routerLink="/services/fret-routier">Fret Routier</a></h4>
                            <p>Nous proposons des services de transport adaptés à vos besoins spécifiques, que ce soit pour des expédition nationales ou internationales.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item-three">
                        <div class="services__thumb-three">
                            <a routerLink="/services/stockage-moderne"><img src="assets/img/services/services_img07.jpg" alt="img"></a>
                            <a routerLink="/services/stockage-moderne" class="btn border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                        <div class="services__content-three">
                            <div class="services__icon-three">
                                <i class="flaticon-delivery-cart"></i>
                            </div>
                            <h4 class="title"><a routerLink="/services/stockage-moderne">Stockage Moderne</a></h4>
                            <p>Chez Gonagoo, nous proposons des solutions de stockage modernes et sécurisées pour vos marchandises.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item-three">
                        <div class="services__thumb-three">
                            <a routerLink="/services/fret-aerien"><img src="assets/img/services/services_img03.jpg" alt="img"></a>
                            <a routerLink="/services/fret-aerien" class="btn border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                        <div class="services__content-three">
                            <div class="services__icon-three">
                                <i class="flaticon-air-freight"></i>
                            </div>
                            <h4 class="title"><a routerLink="/services/fret-aerien">Fret Aérien</a></h4>
                            <p>Pour tous vos besoins de transport de marchandises urgentes et/ou sensibles, nous vous proposons aussi des services de fret aérien.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="services__item-three">
                        <div class="services__thumb-three">
                            <a routerLink="/services/fret-maritime"><img src="assets/img/services/services_img04.jpg" alt="img"></a>
                            <a routerLink="/services/fret-maritime" class="btn border-btn">Lire Plus <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                        </div>
                        <div class="services__content-three">
                            <div class="services__icon-three">
                                <i class="flaticon-ship"></i>
                            </div>
                            <h4 class="title"><a routerLink="/services/fret-maritime">Fret Maritime</a></h4>
                            <p>Pour vos besoins de transport de marchandises en vrac ou en conteneurs, nous vous proposons aussi un service de fret maritime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-area-end -->

</main>
<app-footer />
