<main class="fix">

    <!-- breadcrumb-area -->
    <app-breadcrumb-area />
    <!-- breadcrumb-area-end -->

    <!-- services-details-area -->
    <section class="services__details-area section-py-130">
        <div style="margin-top: -100px;" class="container">
            <div class="services__details-inner">
                <div  class="row">
                    <div style="display: flex; justify-content: center; align-items: center;" class="services__details-thumb">
                        <h1 class="title">Service de Livraison</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-70 order-0 order-lg-2">
                        <div class="services__details-thumb">
                            <img src="assets/img/services/services_img1.jpg" alt="img">
                        </div>
                        <div class="services__details-content">
                            <h2 class="title">Livraison à domicile, rapide et pratique !</h2>
                            <p>
                                Nous savons que votre temps est précieux, c'est pourquoi nous proposons un service de livraison à domicile pour vos courses et vos achats en ligne. Notre équipe de livraison expérimentée garantit que vos colis arrivent chez vous en toute sécurité et dans les délais.
                                Ce service comprend deux grands groupres de services comprenant eux-même des sous-services :
                            </p>
                            <h2 class="title-two">Transport urbain et interurbain des plis, colis et marchandises partout au Cameroun</h2>
                            <div class="about__list-box about__list-box-two about__list-box-three">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-check"></i>Transport rapide de plis et colis urgents ou sensibles avec des options de suivi et de livraison en main propre</li>
                                    <li><i class="flaticon-check"></i>Transport rapide de plis, colis et marchandises sur des distances plus longues, avec des délais de livraison souples</li>
                                    <li><i class="flaticon-check"></i>Transport de types spécifiques de marchandises telles que des produits dangereux, des denrées périssables ou des œuvres d'art</li>
                                    <li><i class="flaticon-check"></i>Tracking et/ou géolocalisation en temps réel</li>
                                </ul>
                            </div><br>
                            <h2 class="title-two">Mise à disposition des coursiers/livreurs (MAD)</h2>
                            <p>Souscrivez à notre formule MAD et bénéficiez :</p>
                            <div class="about__list-box about__list-box-two about__list-box-three">
                                <ul class="list-wrap">
                                    <li><i class="flaticon-check"></i>Des livreurs professionels formés et régumièrement recyclés</li>
                                    <li><i class="flaticon-check"></i>Des livraisons avec des motos neuves et des sacs de livraison isothermes</li>
                                    <li><i class="flaticon-check"></i>De la disponibilité : tous les jours ouvrés et durant les heures ouvrables</li>
                                    <li><i class="flaticon-check"></i>D'une zone de travail : toute la ville de Douala</li>
                                </ul>
                            </div>
                            <div class="services__details-content-inner">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <h2 class="title-two">Nos Succès !</h2>
                                        <p>Nous avons le plaisir de vous montrer les statistiques de nos réalisations...</p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="progress__wrap progress__wrap-three">
                                            <div class="progress__item progress__item-three">
                                                <div class="progress__item-top">
                                                    <h3 class="progress__title">Livraison avec Succès</h3>
                                                    <div class="progress-value"><span class="counter-number">82</span>%</div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 82%;"></div>
                                                </div>
                                            </div>
                                            <div class="progress__item progress__item-three">
                                                <div class="progress__item-top">
                                                    <h3 class="progress__title">Clients Satifaits</h3>
                                                    <div class="progress-value"><span class="counter-number">90</span>%</div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 90%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-30">
                        <aside class="services__sidebar">
                            <div class="services__widget">
                                <div class="services__cat-list">
                                    <ul class="list-wrap">
                                        <li class="activated">
                                            <a routerLink="/services/service-de-livraison">
                                                <span>
                                                    <i class="flaticon-delivery-man"></i>
                                                    Livraison
                                                </span> <i class="flaticon-right-arrow"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/services/demenagement">
                                                <span><i class="flaticon-delivery-cart"></i>Déménagement</span> <i class="flaticon-right-arrow"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/services/fret-routier">
                                                <span><i class="flaticon-truck"></i>Fret Routier</span> <i class="flaticon-right-arrow"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/services/stockage-moderne">
                                                <span><i class="flaticon-warehouse-1"></i>Stockage moderne</span> <i class="flaticon-right-arrow"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/services/fret-aerien">
                                                <span><i class="flaticon-air-freight"></i>Fret aérien</span> <i class="flaticon-right-arrow"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/services/fret-maritime">
                                                <span><i class="flaticon-ship"></i>Fret Maritime</span> <i class="flaticon-right-arrow"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services__widget services__widget-two">
                                <div class="sidebar__logo">
                                    <a routerLink="/"><img src="assets/img/logo/logo.png" alt="logo"></a>
                                </div>
                                <div class="sidebar__contact">
                                    <h2 class="title">Logistique & fret <br> pour les entreprises</h2>
                                    <a href="tel:+237672144191" class="sidebar__phone"><i class="flaticon-telephone"></i>+237 6 72 14 41 91</a>
                                    <a routerLink="/contact-us" class="btn">Contact avec nous <img src="assets/img/icon/right_arrow.svg" alt="" class="injectable"></a>
                                </div>
                                <div class="sidebar__shape" style="background-image: url('assets/img/services/services_sidebar_shape.png');"></div>
                            </div>
                            <div class="services__widget services__widget-three">
                                <h4 class="sidebar__widget-title">Brochures</h4>
                                <div class="sidebar__brochure">
                                    <p>Pour tout besoin de brochures, veuillez télécharger un ci-dessous</p>
                                    <a href="assets/img/services/flyer-gonagoo.pdf" target="_blank" download="">
                                        <img src="assets/img/icon/pdf.svg" alt="" class="injectable">
                                        PDF. Download
                                    </a>
                                    <a href="assets/img/services/condition-vente-flyer.pdf" target="_blank" download="">
                                        <img src="assets/img/icon/pdf.svg" alt="" class="injectable">
                                        PDF. Download
                                    </a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services-details-area-end -->

</main>

<!-- Footer -->
<app-footer />